html, body {
  height: 100%;
  width: 100%;
}

.navbar {
  margin-bottom: 0;
}

.container {
  height: 100%;
  width: 100%;
}

#map {
  width: 100%;
  height: 100%;
  padding-top: 67px;
  position: absolute;
  bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.navbar-toggle {
  margin-right: 5px;
}

@media (max-width:767px) {
    .navbar-nav.navbar-collapse {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}
