<h5>Built with:</h5>
<p>
	<a target="_blank" href="https://angularjs.org/">Angular</a>, <a target="_blank" href="http://leafletjs.com/">leafletjs</a>, <a target="_blank" href="http://getbootstrap.com/">bootstrap</a>. Basemaps from <a target="_blank" href="http://mapbox.com">MapBox</a>.
</p>
<hr>
<h5>Date from:</h5>
<p>
	NOAA - Best Track Data (HURDAT2), which you can find here: <a target="_blank" href="http://www.nhc.noaa.gov/data/">NHC Data Archive, NOAA National Hurricane Center</a>. Side note - the data comes in a pain in the butt format, and every time you load this page you are re-downloading and processing their terrible CSV into a usable format in your browser, which might eat a few megabytes of your data plan.
<hr>
<h5>Assembled by:</h5>
<p>
	Chris Hogan <a href="http://twitter.com/hoganmaps" target="_blank">@hoganmaps</a></br>
	Steve Heinrich <a href="http://twitter.com/stevenheinrich" target="_blank">@stevenheinrich</a></br>
</p>