<div class="modal-header">
  <h3 class="modal-title">TreeBaltimore Map!</h3>
</div>
<div class="modal-body">
  <p>About TreeBaltimore, link, etc</p>
	<p>Technologies used for this map.</p>
	<p>Note about it being open source and where to get source code from.</p>
	<p>Link to download the data.</p>
	<p>Contact info for TreeBaltimore.</p>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()" type="button">OK</button>
  <button class="btn btn-warning" ng-click="cancel()" type="button">Cancel</button>
</div>
