<div class="filterbox" ng-mouseenter="showFilters()" ng-mouseleave="hideFilters()">
  <div class="col-md-12" ng-hide="filterOn">
    {{treeCount}} Trees Visible | Filters <i class="fa fa-arrow-circle-o-down"></i>
  </div>
  <div class="col-md-12 col-lg-12" ng-show="filterOn">
    {{treeCount}} Trees Visible | Filters <i class="fa fa-arrow-circle-o-up"></i>
    <div class="row">
      <table class="table">
        <tbody class="info legend">
          <tr ng-class="{'danger':(disabledYearArray.indexOf(year.label) > -1)}" ng-repeat="year in treeConfig | orderObjectBy:'order'" ng-click="toggleTreeYear(year.label)">
            <td>
              <i style="background:{{year.color}}; border: 2px solid black;"></i>
            </td>
            <td>{{year.label}}
              <b>({{year.count}})</b>
            </td>
          </tr>
        </tbody>
      </table>
      <small ng-show="disabledYearArray.length == 4"><b>at least one year must be on</b></small>
    </div>
  </div>
</div>
