<div class="filterbox" ng-mouseenter="showFilters()" ng-mouseleave="hideFilters()">
  <div class="col-md-12" ng-hide="filterOn">
    {{treeCount}}
    Trees Visible
  </div>
  <div class="col-md-12 col-lg-12" ng-show="filterOn">
    <div class="row">
      <table class="table">
        <tbody class="info legend">
          <tr ng-class="{'danger':(disabledYearArray.indexOf(year.label) > -1)}" ng-repeat="year in treeConfig">
            <td>
              <i style="background:{{year.color}}"></i>
            </td>
            <td>{{year.label}}
              <b>({{year.count}})</b>
            </td>
            <td ng-click="toggleTreeYear(year.label)">
              <small>hide</small>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    {{treeCount}}
    Trees Visible
  </div>
</div>
