<div class="tab-pane active" id="main">
    <div class="btn-group">
        <label ng-click="layerToggle('road')" type="button" class="btn active btn-default" ng-model="radioModel" btn-radio="'Road'">Road Map</label>
        <label ng-click="layerToggle('satellite')" type="button" class="btn btn-default" ng-model="radioModel" btn-radio="'Satellite'">Satellite Map</label>
    </div>
	<div class="form-group">
		<!-- <div class="col-lg-1 "> -->
			<input type="text" class="form-control pull-left" id="startYear" placeholder="1851">
		<!-- </div> -->
		<!-- <div class="col-lg-1 pull-right"> -->
			<input type="text" class="form-control pull-right" id="endYear" placeholder="2014">
		<!-- </div> -->
    </div>
</div>